{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {#    <!-- jQuery library -->#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>#}

    <script src={% static 'js/jquery/jquery-3.2.1.min.js' %}></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src={% static 'js/config.js' %}></script>
    <script src={% static 'js/index.js' %}></script>
    <script src={% static 'js/home.js' %}></script>
    <title>Minesweeper Game : Raviraj Mangukiya</title>
</head>
<body>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>